<div class="animated fadeIn">
  <div *ngIf="httpError == null && units == null">
    <app-pacman></app-pacman>
  </div>
  <div *ngIf="httpError == null && units != null" class="card">
    <div class="card-header">
      Unit list
    </div>
    <div class="card-body">
      <table id="datatable" class="table table-striped table-bordered table-sm row-border hover" datatable>
        <thead>
        <tr>
          <th>Naam</th>
          <th>Beschikbaarheid</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let unit of units">
          <td>{{unit.getUnitName}}</td>
          <td>{{unit.getUnitAvailability ? "Ja" : "Nee"}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="httpError != null">
    <app-error-card [title]="httpError.name + ': ' + httpError.status " [message]="httpError.message"></app-error-card>
  </div>
</div>
