<div class="animated fadeIn">
  <div *ngIf="httpError == null && incident != null" class="card">
    <div class="card-header">
      Detail {{incident.category}}
    </div>
    <div class="card-body">
      <div class="container mt-5 mb-5">
        <div class="row">
          <div class="col-md-6">
            <h4>Beschrijving</h4>
            <ul class="timeline">
              <li *ngFor="let row of incident.incidentDescription">
                <a target="_blank" href="#">{{row}}</a>
                <a href="#!" class="float-right">21 March, 2014</a>
                <p>{{row}}</p>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <h4>Versterkte informatie</h4>
            <ul class="timeline">
              <li *ngFor="let row of incident.reinforcementInfo">
                <a target="_blank" href="#">{{row}}</a>
                <a href="#" class="float-right">21 March, 2014</a>
                <p>{{row}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="httpError != null">
    <app-error-card [title]="httpError.name + ': ' + httpError.status " [message]="httpError.message"></app-error-card>
  </div>
</div>
