<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Stappenplan toevoegen
    </div>
    <form (ngSubmit)="submitForm(f1.value)" #f1="ngForm" class="form-horizontal">
      <div class="card-body">

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="Name">Name</label>
          <div class="col-md-9">
            <input [(ngModel)]="phasedplanName" type="text" id="Name" name="Name" class="form-control" placeholder="Enter Name...">
          </div>
        </div>

        <h3>Stappen</h3>
        <div *ngFor="let row of fieldArray; let i = index">
          <!-- Text input-->
          <div class="form-group row">
            <label class="col-md-3 col-control-label" for="action_id">Task name</label>
            <div class="col-md-9">
              <input [(ngModel)]="row.name" name="stap_{{i}}_{{row.name}}" id="action_id" type="text" placeholder="Task name"
                     class="form-control">
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group row">
            <label class="col-md-3 col-control-label" for="action_name">Task description</label>
            <div class="col-md-9">
              <input [(ngModel)]="row.description" name="stap_{{i}}_{{row.description}}" id="action_name" type="text"
                     placeholder="Task description"
                     class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-9 offset-md-3">
              <button type="button" (click)="deleteFieldValue(i)" class="btn btn-danger">Remove</button>
            </div>
          </div>
        </div>
        <!-- Text input-->
        <div class="form-group row">
          <label class="col-md-3 col-control-label" for="newAttributeName">Task name</label>
          <div class="col-md-9">
            <input [(ngModel)]="newAttribute.name" name="newAttributeName" id="newAttributeName" type="text" placeholder="Task name"
                   class="form-control">
          </div>
        </div>
        <!-- Text input-->
        <div class="form-group row">
          <label class="col-md-3 col-control-label" for="newAttributeDescription">Task description</label>
          <div class="col-md-9">
            <input [(ngModel)]="newAttribute.description" name="newAttributeDescription" id="newAttributeDescription" type="text"
                   placeholder="Task description"
                   class="form-control">
          </div>
        </div>
        <!-- Button -->
        <div class="form-group">
          <div class="col-md-9 offset-md-3">
            <button type="button" id="add-more" (click)="addTask()" name="add-more" class="btn btn-primary">Add More</button>
          </div>
        </div>


      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </form>
  </div>

</div>

<style>
  * {
  . border-radius(0) !important;
  }

  #field {
    margin-bottom: 20px;
  }
</style>


