<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Stappenplan toevoegen
    </div>
    <form (ngSubmit)="submitForm(f1.value)" #f1="ngForm" class="form-horizontal">
      <div class="card-body">

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="Name">Name</label>
          <div class="col-md-9">
            <input ngModel type="text" id="Name" name="Name" class="form-control" placeholder="Enter Name...">
          </div>
        </div>

        <h3>Stappen</h3>
        <div id="field">
          <div id="field0">
            <!-- Text input-->
            <div class="form-group row">
              <label class="col-md-3 col-control-label" for="action_id">Task name</label>
              <div class="col-md-9">
                <input ngModel id="action_id" name="task_name[]" type="text" placeholder="Task name" class="form-control">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group row">
              <label class="col-md-3 col-control-label" for="action_name">Task description</label>
              <div class="col-md-9">
                <input ngModel id="action_name" name="task_description[]" type="text" placeholder="Task description"
                       class="form-control">
              </div>
            </div>
          </div>
        </div>
        <!-- Button -->
        <div class="form-group">
          <div class="col-md-9 offset-md-3">
            <button id="add-more" name="add-more" class="btn btn-primary">Add More</button>
          </div>
        </div>


      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </form>
  </div>

</div>

<style>
  * {
  . border-radius(0) !important;
  }

  #field {
    margin-bottom: 20px;
  }
</style>


